<div class="container">
<%= form_tag search_novels_path, method: :get do %>
<%= text_field_tag :term, nil, placeholder: 'Search', class:'form-control' %> 
<%= submit_tag "Search", class:'btn btn-default' %>
 <% end %>
<h2> Novels Available </h2>
<table border="1" class="table">
<tr>
<th>Novel Title </th>
<th> Novel Author ID  </th>
<th>Novel Publisher ID </th>
<th>Novel Genre ID </th>
<th>Novel Price </th>
<th>Novel ISBN </th>
<th>Novel Publication </th>
<th>Novel Pages </th>
<th>Novel Format </th>
<th>Novel Description </th>
<th>Novel Details </th>
<th>Edit </th>
<th>Delete </th>
</tr>
<% @novel.each do |novel| %>
<tr>
<td> <%= novel.title %> </td>
<td> <%= novel.author_id%> </td>
<td> <%= novel.publisher_id %> </td>
<td> <%= novel.genre_id %> </td>
<td> <%= novel.price %> </td>
<td> <%= novel.isbn %> </td>
<td> <%= novel.publication %> </td>
<td> <%= novel.pages %> </td>
<td> <%= novel.format %> </td>
<td> <%= novel.description %> </td>
<td> <%= link_to 'Show', novel_path(novel) %></td>
<td> <%= link_to 'Edit', edit_novel_path(novel) %> </td>
<td> <%= link_to 'Delete', novel_path(novel), method: :Delete, data: {confirm: "Are you sure you want to delete details"} %> </td>
</tr>
<% end %>
</table>
</div>
